* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.layout-main {
    &__header {
        background: #fff;
        border-bottom: 1px solid #D5D7DA;
    }

    &__content {
        background-color: #f5f5f5;
        min-height: 100vh;
    }
}

@import './header.scss';
@import './footer.scss';


@import './mainLayout.scss';
@import './btnCustom.scss';
@import './login.scss';
@import './cardUser.scss';
@import './tag.scss';

@import './menuCustom.scss';
@import './bgWhiteBoder.scss';
@import './UserSidebar.scss';
@import './OrderCard.scss';
@import './detailsVe.scss';
@import './layoutAdmin.scss';
@import './input.scss';
@import './select.scss';
@import './add-acc.scss';
@import './table.scss';
@import './profile.scss';
@import './orderKham.scss';

@import './slide1.scss';
@import './slide2.scss';
@import './slide3.scss';
@import './slide4.scss';
@import './slide5.scss';

@import './contact.scss';
@import './gioithieu.scss';